{% extends 'base.html.twig' %}

{% block title %}{{ 'nav.register'|trans|capitalize }}{% endblock %}

{% block body %}
<section class="my-2">
    <div class="container">
        <h1 class="h3 mb-3 font-weight-normal">{{ 'user.password.forget'|trans|capitalize }}</h1>

        <form name="passwd_forget" method="post" action="{{ path('app_reloadpwd') }}">
            <div class="form-group">
                <label for="" class="label">{{ 'password.forget.email.label'|trans|capitalize }}</label>
                <input type="email" name="pwd_email" id="" class="form-control" placeholder="{{ 'password.forget.email.placeholder'|trans|capitalize }}" required aria-required="true">
            </div>

            <button type="submit" class="btn btn-outline-info">{{ 'password.forget.btn_reload'|trans|capitalize }}</button>
        </form>
    </div>
</section>
{% endblock %}