{% extends 'base.html.twig' %}

{% block title %}TutoMarks : {{ 'confidentiality.title'|trans|capitalize }}{% endblock %}

{% block body %}
    <h1 class="h1">{{ 'confidentiality.title'|trans|capitalize }}</h1>

    <hr class="my-4">

    <h2 class="h2 mt-5">Utilisation des données personnelles collectées</h2>

    <h3 class="h3">Commentaires et Sujets</h3>
    <p>Quand vous laissez un commentaire sur Tutomarks, les données inscrites dans le formulaire, mais aussi votre adresse IP et l’agent utilisateur de votre navigateur sont collectés pour nous aider à la détection des commentaires indésirables.</p>

    <h3 class="h3">Cookies</h3>
    <p>Si vous avez un compte et que vous vous connectez sur le site, un cookie temporaire sera créé afin de persister votre état de connexion. Ce cookie sera automatiquement détruit lorsque vous vous déconnecté du site.</p>

    <h3 class="h3">Statistiques et mesures d’audience</h3>
    <p>Afin d'analyser le traffic du site (nombre de visites, pages les plus consultés...). Les données sont anonymisées et ne permettent pas d'identifier le comportement individuel d'un utilisateur mais plutôt une tendance générale (nombre de visites sur le site et le nombre de visites par page seulement).</p>

    <h3 class="h3">Durées de stockage de vos données</h3>
    <p>
        Si vous laissez un commentaire, le commentaire et ses métadonnées sont conservés indéfiniment. Cela permet de reconnaître et approuver automatiquement les commentaires suivants au lieu de les laisser dans la file de modération.
        <br><br>
        Pour les utilisateurs et utilisatrices qui s’enregistrent sur le site, nous stockons également les données personnelles indiquées dans leur profil. Tous les utilisateurs et utilisatrices peuvent voir, modifier ou supprimer leurs informations personnelles à tout moment. Seul le gestionnaire du site peut aussi voir et modifier ces informations.
    </p>

    <hr class="my-4">

    <h2 class="h2 mt-5">Les droits que vous avez sur vos données</h2>
    <p>
        Si vous avez un compte ou si vous avez laissé des commentaires sur le site, vous pouvez demander la suppression des données personnelles vous concernant. Cela ne prend pas en compte les données stockées à des fins administratives, légales ou pour des raisons de sécurité.
        <br>
        Si vous avez un compte et que vous souhaitez supprimer vos informations vous pouvez le faire automatiquement depuis votre compte en cliquant sur le bouton supprimé.
    </p>

    <h3 class="h3">Transmission de vos données personnelles</h3>
    <p>Aucune de vos données ne seront partagées avec un tiers.</p>

    <hr class="my-4">

    <h2 class="h2 mt-5">Informations supplémentaires</h2>

    <h3 class="h3">Procédures mises en œuvre en cas de fuite de données</h3>

    <p>Conformément à la procédure prévue par le règlement général sur la protection des données en cas de fuite ou d’anomalie concernant les données personnelles en notre possession, et vous avertirons de la nature des données ayant fuitées et la nature du risque qui peut être engendrée si cela peut entamer vos droits et libertés (données sensibles) dans un délai maximal de 72 heures après constat du problème.</p>
{% endblock %}