{% extends 'base.html.twig' %}

{% block title %}TutoMarks !{% endblock %}

{% block body %}
    <section class="jumbotron">
        <div class="row">
            <div class="col-md-4 d-none d-xs-block">
                <img src="{{ asset('build/images/undraw_video_files_fu10.svg') }}" class="img-fluid img-thumbnail" alt="Image décorative">
            </div>
            <div class="col text-center">
                <h1 class="display-5">{{ 'home.title'|trans|capitalize }} TutoMarks !</h1>
                <p class="lead">{{ 'home.lead'|trans|capitalize }}</p>

                <p class="mt-3">
                    {% if app.user %}
                    <a class="btn btn-sm btn-outline-success" href="{{ path('tutos.addurl') }}" role="button">
                        <i class="far fa-bookmark"></i>
                        {{ 'tutos.add.title'|trans|capitalize }}
                    </a>
                    {% else %}
                        {{ 'user.want_to_join'|trans|capitalize }} ?
                        <a href="{{ path('app_register') }}" class="btn btn-sm btn-outline-info m-1">{{ 'user.register'|trans|capitalize }}</a>
                        <a href="{{ path('app_login') }}" class="btn btn-sm btn-outline-success m-1">{{ 'user.login'|trans|capitalize }}</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </section>

    <h2 class="font-weight-light mb-3">{{ 'home.last-tutos'|trans|capitalize }}</h2>
    <hr class="mb-3">

    <div class="row">
        {% for tuto in tutos %}
            {% include 'tutos/_light_card.html.twig' %}
        {% endfor %}
    </div>

    <div class="text-center mt-0 mb-5">
        <a href="{{ path('search') }}" class="btn btn-sm btn-outline-primary">{{ 'nav.search_more'|trans|capitalize }}</a>
    </div>

    <h2 class="font-weight-light mb-3">{{ 'home.channels'|trans|capitalize }}</h2>
    <hr class="mb-3">

    <div class="row mb-5">
        {% for channel in channels %}
            {% set nb = channel['nb'] %}
            {% set channel = channel[0] %}
            <div class="col-lg-4 col-md-12 mb-3">
                {% include 'channels/__light_card.html.twig' %}
            </div>
        {% endfor %}
    </div>

    {% if app.user and mytutos is not null and mytutos|length > 0 %}
    <h2 class="font-weight-light mb-3">{{ 'home.my-last-tutos'|trans|capitalize }}</h2>
    <hr class="mb-3">

    <div class="row mb-5">
        {% for tuto in mytutos %}
            {% include 'tutos/_light_card.html.twig' %}
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
