{% extends 'base.html.twig' %}

{% block title %}{{ 'tutos.addurl.title'|trans|capitalize }}{% endblock %}

{% block body %}

<section class="mt-2 mb-5">
    <div class="container">
        <h1 class="h1">{{ 'tutos.addurl.title'|trans|capitalize }}</h1>
        <hr class="my-4">
        {{ form_start(form) }}
            {{ form_row(form.url) }}
            <input type="submit" class="btn btn-success" value="{{ 'btn.confirm'|trans }}">
        {{ form_end(form) }}
    </div>

    {% if video is defined %}
    <div class="container mt-3">
        <div class="row">
            <div class="card col-6">
                <img src="{{ channel.thumbnails.default.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ video.title }}</h5>
                    <p class="card-text">{{ video.description|nl2br }}</p>
                    <a href="#" class="btn btn-primary">{{ channel.title }}</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>

{% endblock %}
