{% extends 'base.html.twig' %}

{% block title %}{{ 'tutos.add.title'|trans|capitalize }}{% endblock %}
{% form_theme form _self %}
{% block _tutos_tags_row %}
    <div class="form-group">
        <label class="label">{{ label }}</label><br/>
        {% if choices is iterable %}
            {% for id, k in choices %}
                <label for="tutos_tags_{{ k.value }}" class="btn btn-sm btn-outline-info rounded-pill">
                    <input type="checkbox" name="tutos[tags][]" value="{{ k.data.id }}" id="tutos_tags_{{ k.value }}" {% if k.data.id in form.vars.value %}checked="checked"{% endif%} class="badgebox" data-color="info">{{ k.label }}
                </label>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block _tutos_channel_row %}
    <div class="form-group">
        <label class="label" for="tutos_channel">{{ label }}</label>
        {% if choices is iterable %}
            <select id="tutos_channel" class="form-control" name="tutos[channel]">
            {% for id, k in choices %}
                <option value="{{ k.data.id }}" {% if k.data.id in form.vars.value %}selected="selected"{% endif%}>{{ k.label }}</option>
            {% endfor %}
                <option value="" {% if new_channel is defined %}selected="selected"{% endif %}>(+) {{ 'tutos.channel.new'|trans|capitalize }}</option>
            </select>
        {% endif %}
    </div>

    <fieldset class="form-group d-none" id="tutos_channel_new">
        <legend class="d-none col-form-label">{{ 'tutos.channel.new'|trans|capitalize }}</legend>
        <div>
            <div class="form-group">
                <label class="label" for="tutos_channel_title">{{ 'channel.title.label'|trans|capitalize }} *</label>
                <input type="text" id="tutos_channel_title" name="newchannel[title]" maxlength="255" placeholder="{{ 'channel.title.placeholder'|trans|capitalize }}" class="form-control">
            </div>
            <div class="form-group">
                <label class="label" for="tutos_channel_site_url">{{ 'channel.site_url.label'|trans|capitalize }}</label>
                <input type="text" id="tutos_channel_site_url" name="newchannel[site_url]" placeholder="{{ 'channel.site_url.placeholder'|trans|capitalize }}" inputmode="url" class="form-control">
            </div>
            <div class="form-group">
                <label class="label" for="tutos_channel_youtube_id">{{ 'channel.youtube_id.label'|trans|capitalize }}</label>
                <input type="text" id="tutos_channel_youtube_id" name="newchannel[youtube_id]" maxlength="255" placeholder="{{ 'channel.youtube_id.placeholder'|trans }}" class="form-control">
            </div>
        </div>
    </fieldset>
{% endblock %}

{% block body %}
{{ form_start(form, {'action' : path('tutos.add')}) }}
    <section class="mt-2 mb-5">
        <div class="container">
            <h1 class="h1">{{ 'tutos.add.title'|trans|capitalize }}</h1>
            <hr class="my-4">

            <div class="row mt-2">
                <div class="col col-md-6 col-sm-12">
                    {{ form_row(form.title) }}

                    <div class="card border-primary mb-3">
                        <div class="card-header">{{ 'tutos.creator.label'|trans|capitalize }}</div>
                        <div class="card-body pt-1 pb-0">
                            {{ form_row(form.channel) }}
                        </div>
                    </div>

                    {{ form_row(form.url) }}
                    {{ form_row(form.category) }}
                    {{ form_row(form.langue) }}
                    {{ form_row(form.price) }}
                    {{ form_row(form.level) }}
                    {{ form_row(form.tags) }}

                    <small class="form-text text-muted">* {{ 'required_fields'|trans|capitalize }}</small>
                </div>

                <div class="col col-md-6 col-sm-12">
                    <div class="form-group">
                        {{ form_label(form.description) }}
                        <br/><small class="form-text text-muted">{{ 'tutos.description.help'|trans|capitalize }}</small>
                        {{ form_widget(form.description) }}
                    </div>

                    <div class="form-group">
                        <label class="label" for="tutoEvalPersonal">{{ 'tutos.eval.your'|trans|capitalize }}</label><br/>
                        <input type="number" id="tutoEvalPersonal" name="userEval" class="star-rating-new" min="0" max="5" step=".5" data-size="sm">
                    </div>

                    <div class="form-group">
                        <label class="label" for="userComment">{{ 'tutos.published_by.comment'|trans|capitalize }}</label><br/>
                        <textarea id="userComment" name="userComment" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <a class="btn btn-outline-danger" href="{{ path('home') }}">
                    <i class="fas fa-times"></i>
                    {{ 'btn.cancel'|trans|capitalize }}
                </a>
                <button class="btn btn-outline-success" type="submit">
                    <i class="fas fa-check"></i>
                    {{ 'btn.submit'|trans|capitalize }}
                </button>
            </div>
        </div>
    </section>
{{ form_rest(form) }}
{{ form_end(form) }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).ready(function () {
            {% if new_channel is defined %}
                $('#tutos_channel_new').removeClass('d-none')
                $('#tutos_channel option[value=""]').prop('selected', true)
                $('#tutos_channel_title').addClass('is-invalid')
            {% endif %}
        })

        $(document).on('change', '#tutos_channel', function(){
            console.log($(this).val())
            if($(this).val() === '') {
                $('#tutos_channel_new').removeClass('d-none')
            } else {
                $('#tutos_channel_new').addClass('d-none')
            }
        })
    </script>
{% endblock %}