{% extends 'base.html.twig' %}

{% block title %}{{ 'tutos.show.title'|trans|capitalize }}{% endblock %}

{% block body %}
    <section class="my-2">
        <div class="container">
            <h1 class="h1">
                <span class="h1-text">{{ tuto.title }}</span>

                <span class="float-right small">
                   <a class="text-info align-text-bottom"
                      href="https://twitter.com/intent/tweet?via=tutomarks&text={{ tuto.title|url_encode }}&original_referer={{ url('tutos.show', {'slug': tuto.slug, 'id': tuto.id}) }}&url={{ url('tutos.show', {'slug': tuto.slug, 'id': tuto.id}) }}"
                      target="_blank"
                      data-lang="fr"
                      title="{{ 'btn.twitter.share_title'|trans|capitalize }}"
                   >
                       <i class="fab fa-twitter"></i></a>

                    {% if is_granted('EDIT', tuto) %}
                    <a class="align-text-bottom"
                        href="{{ path('tutos.edit', { 'id' : tuto.id}) }}"
                        title="{{ 'tutos.edit.title'|trans|capitalize }}">
                        <i class="fas fa-edit"></i></a>
                    {% endif %}

                    {% if app.user %}
                    <a href="#" data-toggle="modal" data-target="#js-deadlink" class="align-text-bottom text-danger">
                        <i class="fas fa-unlink" data-toggle="tooltip" title="{{ 'btn.deadlink'|trans|capitalize }}"></i>
                    </a>
                    {% endif %}
                </span>
            </h1>

            <div class="modal fade" id="js-deadlink" tabindex="-1" role="dialog" aria-labelledby="js-deadlink-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="js-deadlink-label">{{ 'deadlink.thanks.title'|trans|capitalize }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ 'deadlink.thanks.dialog'|trans|capitalize }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'btn.cancel'|trans|capitalize }}</button>
                            <a href="{{ path('tutos.deadlink', {'id': tuto.id}) }}" class="btn btn-success">{{ 'btn.confirm'|trans|capitalize }}</a>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="my-3">

            {% if tuto.url|youtube_thumbnail is not same as ('') %}
                <div class="row mt-2 mb-3">
                    {{ tuto.url|youtube_player|raw }}
                </div>
            {% endif %}

            <div class="row mt-2 mb-3">
                <div class="col">
                    <div id="channel_card" class="mb-3">
                        {% if tuto.channel %}
                            {% set channel = tuto.channel %}
                            {% set nb = channel.tutos|length %}

                            {% include 'channels/__light_card.html.twig' %}
                        {% else %}
                            <div class="col">
                                <span class="channel_name"><i class="fas fa-at"></i> {{ tuto.creator }}</span><br/>
                            </div>
                        {% endif %}
                    </div>

                    <div class="card mb-3">
                        <div class="card-body">

                            <div class="form-group text-center">
                                <a href="{{ tuto.url }}" target="_blank" class="btn btn-outline-info">{{ 'tutos.url.new_windows'|trans|capitalize }} <i class="fas fa-external-link-alt"></i></a>
                            </div>

                            <div class="form-group">
                                <label class="label">{{ 'tutos.category.label'|trans|capitalize }} :</label>
                                <span class="">{{ tuto.category }}</span>
                            </div>

                            <div class="form-group">
                                <label class="label">{{ 'tutos.langue.label'|trans|capitalize }} :</label>
                                <span class="">{{ tuto.langue }}</span>
                            </div>

                            <div class="form-group">
                                <label class="label">{{ 'tutos.price.label'|trans|capitalize }} :</label>
                                <span class="">{{ tuto.price ?: 'unknown.field'|trans|capitalize }}</span>
                            </div>

                            <div class="form-group">
                                <label class="label">{{ 'tutos.level.label'|trans|capitalize }} :</label>
                                <span class="">{{ tuto.level ?: 'unknown.field'|trans|capitalize }}</span>
                            </div>

                            {% if tuto.tags|length > 0 %}
                                <div class="form-group">
                                    <label class="label">{{ 'tutos.tags.label'|trans|capitalize }} :</label><br/>
                                    {% for tag in tuto.tags %}
                                        <span class="badge badge-primary badge-pill">{{ tag }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <div class="form-group">
                                <p class="text-info">{{ 'tutos.published_by.thanks_to'|trans|capitalize }} {{ tuto.publishedBy}} {{ 'tutos.published_by.thanks_for'|trans }} {{ 'tutos.published_at.on'|trans }} {{ tuto.publishedAt|date('d/m/Y') }}</p>
                            </div>

                            <div class="my-4">
                                <div class="row">
                                    <div class="col text-center">
                                        <label for="tutoEvalPersonal">{{ 'tutos.eval.your'|trans|capitalize }}</label><br/>
                                        {% if app.user %}
                                            {% set userNote = evalTuto.getForUser(tuto, app.user) %}
                                            <input type="number" id="tutoEvalPersonal" class="star-rating" value="{{ userNote is null ? '' : userNote }}" min="0" max="5" step=".5" data-size="sm" data-user="{{ app.user.id }}" data-tutos="{{ tuto.id }}" data-url="{{ path('api.eval.tutos') }}">
                                        {% else %}
                                            <a href="{{ path('app_login') }}" class="btn btn-sm btn-outline-info">{{ 'nav.connection'|trans|capitalize }}</a>
                                        {% endif %}
                                    </div>

                                    <div class="col text-center">
                                        {% set note = evalTuto.getTutosMoy(tuto) %}
                                        <label for="tutoEvalGlobale">{{ 'tutos.eval.global'|trans|capitalize }}</label><br/>
                                        <input type="number" id="tutoEvalGlobale" class="star-rating-fix" value="{{ note }}" min=0 max=5 step=0.5 data-size="sm">
                                    </div>
                                </div>
                            </div>

                            {% if app.user %}
                            <div class="my-4">
                                <div class="row">
                                {% set infos = userTutoInformations(app.user, tuto) %}
                                    {% if infos|length is same as 0 %}
                                        <div class="col text-center">
                                            <button class="js-shown btn btn-sm btn-outline-success"
                                               type="button"
                                               data-user="{{ app.user.id }}"
                                               data-value="0"
                                               data-url="{{ path('api.user.tutos.informations') }}"
                                               data-tutos="{{ tuto.id }}">
                                                <i class="far fa-eye"></i><i class="far fa-eye-slash d-none"></i> <span class="js-action-text-shown">{{ 'btn.shown'|trans|capitalize }}</span>
                                            </button>
                                        </div>
                                        <div class="col text-center">
                                            <button class="js-pined btn btn-sm btn-outline-success"
                                               type="button"
                                               data-user="{{ app.user.id }}"
                                               data-value="0"
                                               data-url="{{ path('api.user.tutos.informations') }}"
                                               data-tutos="{{ tuto.id }}">
                                                <i class="fas fa-thumbtack"></i> <span class="js-action-text-pined">{{ 'btn.pined'|trans|capitalize }}</span>
                                            </button>
                                        </div>
                                    {% else %}
                                        <div class="col text-center">
                                            <button class="js-shown btn btn-sm btn-{{ infos.shown ? 'success' : 'outline-success' }}"
                                               type="button"
                                               data-user="{{ app.user.id }}"
                                               data-value="{{ infos.shown }}"
                                               data-url="{{ path('api.user.tutos.informations') }}"
                                               data-tutos="{{ tuto.id }}">
                                                <i class="far fa-eye {{ infos.shown ? 'd-none' }}"></i><i class="far fa-eye-slash {{ infos.shown ? '' : 'd-none' }}"></i> <span class="js-action-text-shown">{{ infos.shown ? 'btn.unshown'|trans|capitalize : 'btn.shown'|trans|capitalize }}</span>
                                            </button>
                                        </div>
                                        <div class="col text-center">
                                            <button class="js-pined btn btn-sm btn-{{ infos.pined ? 'success' : 'outline-success' }}"
                                               type="button"
                                               data-user="{{ app.user.id }}"
                                               data-value="{{ infos.pined }}"
                                               data-url="{{ path('api.user.tutos.informations') }}"
                                               data-tutos="{{ tuto.id }}">
                                                <i class="fas fa-thumbtack"></i> <span class="js-action-text-pined">{{ infos.pined ? 'btn.unpined'|trans|capitalize : 'btn.pined'|trans|capitalize }}</span>
                                            </button>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="h3 card-title">{{ 'tutos.description.label'|trans|capitalize }} :</h3>
                            <hr class="my-2">

                            <p class="card-text">
                                {{ tuto.description|nl2br }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col text-center">
                    <a href="{{ from is not null ? from : path('home') }}" class="btn btn-outline-info btn-sm">{{ 'back'|trans|capitalize }}</a>
                </div>
            </div>
            
            <tuto-comments data-tuto="{{ tuto.id }}" data-user="{{ app.user ? app.user.id : 0 }}" data-title="{{ 'tutos.comments.single'|trans|capitalize }}"></tuto-comments>
        </div>
    </section>
{% endblock %}