/* ------------------------------- */
/* Cardbox Heading
---------------------------------- */
.cardbox {
  background-color: $dark;

  a {
    color: $white;
  }

  a:hover {
    color: $gray-500 !important;
  }

  .card-header {
    padding: 0;

    position: relative;
    display: block;

    border-bottom: 2px solid $white;

    .img-fluid {
      width: 100% !important;
      opacity: 0.7;
    }
    .img-fluid:hover {
      opacity: 1;
    }
  }

  .card-body {
    position: relative;
    bottom: 25px;
    padding: 0.25rem;

    .card_icons {
      min-height: 40px;

      img {
        width: 40px;
        height: 40px;
        display: inline-block;
        object-fit: contain;
      }
    }
  }

}

.card-icons-show {
  img {
    width: 40px;
    height: 40px;
    display: inline-block;
    object-fit: contain;
  }
}
