body {
  background-color: $white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23000000' fill-opacity='0.01'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  //background-color: #ffffff;
  //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23000000' fill-opacity='0.01' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.pt-7 {
  padding-top: 7rem !important;
}

.mh-250p {
  min-height: 250px;
}

.is-hide {
  display: none;
}

.fs-3 {
  font-size: 3rem !important;
}


.fs-4 {
  font-size: 4rem !important;
}

.fs-5 {
  font-size: 5rem !important;
}

.hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .jumbotron {
    padding: 2rem !important;
  }

  .card-footer-maj {
    background-color: $white !important;
    border-top: 2px solid rgba(0, 0, 0, 0.1) !important;
  }

  .css-tutos {
    h3 {
      font-size: 1.25rem;
    }
  }
}

.hero.is-fullheight {
  min-height: 100vh;
}

.input-group-append .btn {
  line-height: unset;
}

#topbar {
  height: 17px;
  font-size: 10px;
  transition: all 0.5s;
  overflow: hidden;
  background-color: $white;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    padding: 0;
  }
}

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 0 5px;
  top: 17px;

  li.nav-item {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }
  li.nav-item:hover {
    border-bottom: 2px solid $white;
  }
}

#footer {
  a.nav-link:hover {
    color: $gray-500 !important;
  }

  blockquote {
    font-size: 0.75rem;

    a {
      color: $gray-400;
    }
  }

  .img-obambu {
    max-width: 150px;
  }
}

#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  //background-color:rgba(255,255,255,.8);

  .help-block{
    font-size:12px
  }
  .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
  }

  .form-group {
    margin-bottom: 10px;
  }
}

@media(max-width:768px){
  #login-dp{
    background-color: inherit;
    color: #fff;
  }
  #login-dp .bottom{
    background-color: inherit;
    border-top:0 none;
  }
}