{% extends 'base.html.twig' %}

{% block title %}{{ 'search.title'|trans|capitalize }}{% endblock %}

{% form_theme form _self %}
{% block _tags_row %}
    <div class="form-group">
        <label class="label">{{ label }}</label><br/>
        {% if choices is iterable %}
            {% for id, k in choices %}
                <label for="tags_{{ k.value }}" class="btn btn-sm btn-outline-info rounded-pill">
                    <input type="checkbox" name="tags[]" value="{{ k.data.id }}" id="tags_{{ k.value }}" {% if k.data.id in form.vars.value %}checked="checked"{% endif%} class="badgebox" data-color="info">{{ k.label }}
                </label>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block _evaluation_row %}
    <div class="form-group">
        <label class="label" for="evaluation">{{ label }}</label><br/>
        <input type="number" id="evaluation" name="evaluation" class="star-rating-new" min="0" max="5" step="1" data-size="sm" {% if form.vars.value %}value="{{ form.vars.value }}"{% endif %}>
    </div>
{% endblock %}

{% block body %}
<section class="mt-2 mb-5">
    <div class="container">
        <h1 class="h1">{{ 'search.title'|trans|capitalize }}</h1>

        {% include 'search/_from_search.html.twig' %}
    </div>
</section>
{% endblock %}