<h1>{{ 'mail.new_login.subject'|trans|capitalize }} Tutomarks!</h1>
<p>
    {{ 'mail.new_login.l1'|trans|capitalize }}<br/>
    {{ 'mail.new_login.l2'|trans|capitalize }}
</p>
<p>{{ 'mail.end'|trans|capitalize }} <a href="https://www.tutomarks.fr" target="_blank">Tutomarks.fr</a></p>
