{% extends 'base.html.twig' %}

{% block title %}{{ 'channel.all_tutos.show'|trans|capitalize }}{% endblock %}

{% block body %}
    <h2 class="font-weight-light mb-3">{{ 'home.channels'|trans|capitalize }}</h2>
    <hr class="mb-3">

    <div class="row mb-5">
        {% for channel in channels %}
            {% include 'channels/_light_card.html.twig' %}
        {% endfor %}
    </div>

{% endblock %}
