{% extends 'base.html.twig' %}

{% block title %}{{ 'channel.all_tutos.show'|trans|capitalize }}{% endblock %}

{% block body %}
    <h2 class="font-weight-light mb-3">{{ 'home.channels'|trans|capitalize }}</h2>
    <hr class="mb-3">

    <div class="row mb-5">
        {% for channel in channels %}
            {% set nb = channel['nb'] %}
            {% set channel = channel[0] %}
            <div class="col-lg-4 col-md-12 mb-3">
                {% include 'channels/__light_card.html.twig' %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
