{% extends 'base.html.twig' %}

{% block title %}[Tutomarks] Hebdoo : Toutes les ressources{% endblock %}

{% block body %}
<section class="mt-4 mb-3">
    <div class="container">
        <div class="section-heading style-2 my-4">
            <h1 class="h1">
                <span class="text-primary me-2"><i class="bi bi-h-square"></i></span>Hebdoo: Toutes les ressources
            </h1>
            <div class="line"></div>
        </div>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show mt-3" role="alert">
                    {{ message|capitalize }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                </div>
            {% endfor %}
        {% endfor %}

        <hebdoolist-component />
    </div>
</section>
{% endblock %}