{% extends 'base.html.twig' %}

{% block title %}[Tutomarks] Hebdoo : Toutes les ressources{% endblock %}

{% block body %}
<section class="mt-4 mb-3">
    <div class="container">
        <div class="section-heading style-2 my-4">
            <h1 class="h1">
                <span class="text-primary me-2"><img src="{{ asset('build/images/hebdoo.png') }}" alt="H" class="img-fluid" /></span>Toutes les ressources
            </h1>
            <div class="line"></div>
        </div>

        <hebdoolist-component />
    </div>
</section>
{% endblock %}